.background_pane {
    -fx-background-image: url("images/others/Intestazione_Codex_Naturalis.jpg");
    -fx-background-size: cover; /* Adatta l'immagine all'AnchorPane */
}


.loading_pane {
    -fx-background-image: url("images/others/Loading.png");
    -fx-background-size: cover; /* Adatta l'immagine all'AnchorPane */
}

.tot {
    -fx-background-image: url("images/others/TotalBlack.png");
    -fx-background-size: cover; /* Adatta l'immagine all'AnchorPane */
}

.game_pane {
    -fx-background-image: url("images/others/Game_Background.jpg");
    -fx-background-size: cover; /* Adatta l'immagine all'AnchorPane */
}


